ADMIN_TOKEN={{ vaultwarden_admin_token }}
SIGNUPS_ALLOWED={{ vaultwarden_signup }}
INVITATIONS_ALLOWED={{ vaultwarden_invitations_allowed }}
SHOW_PASSWORD_HINT={{ vaultwarden_password_hint }}
DISABLE_ADMIN_TOKEN={{ vaultwarden_disable_admin_token }}
{% for key, value in vaultwarden_env_extra.items() %}
{{ key }}={{ value }}
{% endfor %}
